%footer.row
  .large-12.columns
    %hr
    .row
      .large-6.columns
        %p &copy;Safetatwork 2013 Contact
      .large-6.columns
        %ul.inline-list.right
          %li
            = link_to "Sign Up", sign_in_path
          %li Course
          %li Support
