.row
  .large-12.columns.callout.panel
    .large-5.columns
      %h3.subheade HSE.TV provides you with the ideal preparation to your VCA Exam
      %p Watch at your own pace our instructional videos and test your knowledge by taking a quiz that accompagnies each video lesson.
      %p Our video lessons are given by active HSE-experts.
      = link_to "Sign Up", pages_subscription_plans_path, class: "button large success"
    .large-7.columns
      .flex-video
        %iframe(width="420" height="315" src="http://www.youtube.com/embed/0_EW8aNgKlA" frameborder="0" allowfullscreen)
