.row
  .large-12.columns
    %h1 HSE.TV Subscription Plans
.row
  .large-12.columns
    .row
      .large-4.columns
        %ul.pricing-table
          %li.title Bronze
          %li.price €999
          %li.description 5 Accounts
          %li.bullet-item €16.50 a month
          %li.bullet-item Full access to TV library
          %li.cta-button
            = link_to "Sign Up", register_path, class: "button"
      .large-4.columns
        %ul.pricing-table
          %li.title Silver
          %li.price €1799
          %li.description 10 Accounts
          %li.bullet-item €15 a month per account
          %li.bullet-item Full access to TV library
          %li.cta-button
            = link_to "Sign Up", register_path, class: "button"
      .large-4.columns
      .large-4.columns
        %ul.pricing-table
          %li.title Gold
          %li.price €2999
          %li.description 20 Accounts
          %li.bullet-item €12.50 a month per account
          %li.bullet-item Full access to TV library
          %li.cta-button
            = link_to "Sign Up", register_path, class: "button"
.row
  .large-12.columns.panel
    .large-4.columns
      %h3 Learn from the HSE-Experts
      %p Youl'll get trained by HSE-experts, active in the field
      %p These experts know the VCA-exam through an through and can point out pitfalls and common mistakes
    .large-4.columns
      %h3 Flexible learning
      %p Our videos are structured in short chunks that are easy to digress.
      %p You can watch at your own pace from any device (smarthpone, tablet, laptop, ...)
    .large-4.columns
      %h3 Affordable
      %p HSE.TV is tailor made for enterprises that need to train their employees fast and in an affordable manner
      %p With our bronze, silver and gold licenses, you can subscribe as many employees as you like at very affordable prices.
