.row
  .breadcrumbs
    %li
      %a(href="#") Home
    %li
      %a(href="modules.html") Modules
    %li
      %a(href="module.html") Module 1
    %li.current
      %a(href="#") Add Videos
.row
  .large-12.columns
    %h3 Module 1: Gezondheid, Veiligheid, Milieu
    %p Select videos to add to this module
    %h4.subheader Videos
    %a(class="button success" href="videos.html") Add Videos
    %form.custom
      .row
        .large-10.columns
          %label(for="module1")
            %input(type="checkbox" id="module1" style="display: none;")
            %span.custom.checkbox
            &nbsp;&nbsp;
            %a(href="#") VCA Law: Basic Introduction
            (4mins - 39secs)
      .row
        .large-10.columns
          %br
      .row
        .large-10.columns
          %label(for="module2")
            %input(type="checkbox" id="module2" style="display: none;")
            %span.custom.checkbox
            &nbsp;&nbsp;
            %a(href="#") Wetgeving: Veilgheid, gezondheid en milieu 
            (4mins - 39secs)
      .row
        .large-10.columns
          %br
      .row
        .large-10.columns
          %label(for="module3")
            %input(type="checkbox" id="module" style="display: none;")
            %span.custom.checkbox
            &nbsp;&nbsp;
            %a(href="#") Beroep doen op interimarbeid
            (4mins - 39secs)
      .row
        .large-10.columns
          %br
      .row
        .large-10.columns
          %label(for="module4")
            %input(type="checkbox" id="module4" style="display: none;")
            %span.custom.checkbox
            &nbsp;&nbsp;
            %a(href="#") Medisch onderzoek
            (4mins - 39secs)
      .row
        .large-10.columns
          %br
      .row
        .large-10.columns
          %label(for="module5")
            %input(type="checkbox" id="module5" style="display: none;")
            %span.custom.checkbox
            &nbsp;&nbsp;
            %a(href="#") KB op mobiele of tijdelijke werkplaatsen
            (4mins - 39secs)
