.row
  %ul.breadcrumbs
    %li
      %a(href="#") Home
    %li Modules
.row
  .large-12.columns
    %h3 Modules
    .large-9.columns
      %table.large-12.columns
        %tr
          %td Id
          %td Module Title
          %td Edit
        %tr
          %td 1
          %td VCA Law: Basic Introduction
          %td
            %a(href="module_edit.html") Edit
            &nbsp;&nbsp;
            %a(href="#") Delete
        %tr
          %td 2
          %td Wetgeving: Veilgheid, gezondheid en milieu
          %td
            %a(href="module_edit.html") Edit
            &nbsp;&nbsp;
            %a(href="#") Delete
        %tr
          %td 3
          %td Beroep doen op interimarbeid
          %td
            %a(href="module_edit.html") Edit
            &nbsp;&nbsp;
            %a(href="#") Delete
    .large-3.columns
      %a(class="button success" href="module_add.html") Add Module
