.row
  %ul.breadcrumbs
    %li
      %a(href="#") Home
    %li.current Videos
.row
  .large-12.columns
    %h3 Videos
  .large-9.columns
    %table.large-12.columns
      %tr
        %td Id
        %td Video Title
        %td Edit
      %tr
        %td 1
        %td HSE Basic Concepts
        %td
          %a(href="video_edit.html")Edit
          &nbsp;&nbsp;
          %a(href="#")Delete
      %tr
        %td 2
        %td VCA Law: Basic Introduction
        %td
          %a(href="video_edit.html") Edit
          &nbsp;&nbsp;
          %a(href="#") Delete
      %tr
        %td 3
        %td Beroep doen op interimarbeid
        %td
          %a(href="video_edit.html") Edit
          &nbsp;&nbsp;
          %a(href="#") Delete
        %tr
          %td 4
          %td KB op mobiele of tijdelijke werkplaatsen
          %td
            %a(href="video_edit.html") Edit
            &nbsp;&nbsp;
            %a(href="#") Delete
  .large-3.columns
    %a(class="button success" href="video_add.html") Add Video
