.row
  %ul.breadcrumbs
    %li
      %a(href="#") Home
    %li
      %a(href="modules.html") Modules
    %li.current
      %a(href="#") Module 1: Wetgeving: Gezondheid, Veiligheid, Milieu
.row
  .large-12.columns
    %h3 Module 1: Wetgeving: Gezondheid, Veiligheid, Milieu
    .row
      .large-9.columns
      %p This module gives a broad overview of aspects concerning bacic HSE Law
      .large-3.columns
        %a(class="button success" href="module_edit.html") Edit Module
    .row
      %h4.subheader Videos
      .large-9.columns
        %table.large-12.columns
          %tr
            %td Id
            %td Module Title
            %td Edit Module
          %tr
            %td 1
            %td
              %a(href="#") Introduction
            %td
              %a(href="edit_module.html") Edit
              &nbsp;&nbsp; 
              %a(href="#") Delete
          %tr
            %td 2
            %td
              %a(href="#") Basic Security
            %td
              %a(href="#") Edit
              &nbsp;&nbsp; 
              %a(href="#") Delete
          %tr
            %td 3
            %td
              %a(href="#") Hazards &amp; Risk Prevention
            %td
              %a(href="#") Edit
              &nbsp;&nbsp;
              %a(href="#") Delete
      .large-3.columns
        %a(class="button success" href="module_add_videos.html") Add Video
