.row
  %ul.breadcrumbs
    %li
      %a(href="#") Home
    %li
      %a(href="videos.html") Videos
    %li.current Video 1: HSE Basic Concepts
.row
  .large-8.columns
    .flex-video
      %iframe(width="420" height="315" src="http://www.youtube.com/embed/0_EW8aNgKlA" frameborder="0" allowfullscreen)
  .large-4.columns
    %aside
      .panel
        %h4 HSE Basic Concepts
        %p>
          %strong Duration: 4 mins 39 secs
          %br
          This video goes over basic HSE concepts
