.row
  %ul.breadcrumbs
    %li
      %a(href="#") Home
    %li.current
      %a(href="courses.html") Courses
.row
  .large-12.columns
    %h3 Courses
    .large-9.columns
      %table.large-12.columns
        %tr>
          %td Id
          %td Course Title
          %td Edit
        %tr
          %td 1
          %td VCA Exam Preparation
          %td 
            %a(href="course.html") Edit
            &nbsp;&nbsp;
            %a(href="#") Delete
    .large-3.columns
      %a(class="button success" href="course_add.html") Add Course
