.row
  %ul.breadcrumbs
    %li.current Home
%header.row
  .large-9.columns
    %h1 Your Progress
.row
  .large-9.columns
    %h2.subheader Courses started
    %p
      %a(href="course.hml") VCA Exam Preparation
    %h2.subheader Modules completed
    %table.large-12.columns
      %tr
        %td
          %a(href="module.html") Wetgeving, gezondheid, milieu
        %td
          %i.foundicongen-checkmark
      %tr
        %td
          %a(href="module.html") Toezicht op welzijn op het werk
        %td
          %i.foundicongen-checkmark
      %tr
        %td
          %a(href="module.html") Organisatie van Veiligheid Bescherming en Bescherming
        %td
          &nbsp;
      %tr
        %td
          %a(href="module.html") De arbeidsinspectie
        %td
          &nbsp;
      %tr
        %td
          %a(href="module.html") Samenwerking tussen werkgever, opdrachtgever en onderaannemer
        %td
          &nbsp;
