.row
  %ul.breadcrumbs
    %li
      %a(href="index.html") Home
    %li
      %a(href="course.html") Course 1
    %li
      %a(href="module.html") Module 1
    %li(class="current") VCA Basic Security Quiz
%header.row
  %h1.subheader VCA Basic Security Quiz
.row
  .large-8.columns
    %form.custom
      .panel
        %p
          %strong Which Official Body is responsible for enforcing VCA Legislation?
        %label(for="radioAge")
          %input(type="radio" name="radioAge" id="radioAge" value="COSHH" style="display:none;" CHECKED)
          %span.custom.radio.checked
          COSHH
          %br
        %label(for="radioAge")
          %input(type="radio" name="radioAge" id="radioAge" value="OSHI" style="display:none;")
          %span.custom.radio
          OSHI
          %br
        %label(for="radioAge")
          %input(type="radio" name="radioAge" id="radioAge" value="HSE" style="display:none;")
          %span.custom.radio
          The Health and Safety at Work etc. Act 1974 
          %br
      .panel
        %a(href="#" class="button" data-reveal-id="myModal") Next Question
    #myModal.reveal-modal
      %h3 Congratulations, you just earnt the
      %p.lead VCA Basic Security Badge
      %img(scr="../images/templating.png")
      %a.close-reveal-modal
        &#215;
  %aside.large-4.columns
    .panel
      %p
        %i.foundicongen-graph
        %strong Quiz
        %br
        Question 1 of 4
      .progress.large-6.success
        %span.meter(style="width: 20%")
