.row
  %ul.breadcrumbs
    %li
      %a(href="index.html") Home
    %li
      %a(href="course.html") Course 1
    %li
      %a(href="module.html") Module 1
    %li(class="current") VCA Basic Security Quiz
%header.row
  %h1.subheader VCA Basic Security Quiz
.row
  .large-8.columns
    %p.lead Congratulations, you just earnt the VCA Basic Security Badge!
    %p
      %img.th.radius(src="../images/templating.png")
    %p
      %a.button.success(href="#") Start Chapter 2
  %aside.large-4.columns
    .panel
      %p
        %i.foundicongen-graph
        %strong Quiz
        %br
        Complete, your earnt 250 points
      .progress.large-6.success
        %span.meter(style="width: 100%")
        
