.row
  %ul.breadcrumbs
    %li
      %a(href="index.html") Home
    %li.current= @course.title 
%header.row
  .panel.callout
    %h1= @course.title 
    %p= @course.description 
.row
  .large-9.columns
    .row
      %h3.subheader Wetgeving, gezondheid, milieu
      .large-4.columsn
        %img.left(src="../images/fundamentals.png" width="126" height="126")
      .large-8.columns
        %p De basis met betrekking tot wetgeving, gezondheid en milieu
        %a.small.button.success.right(href="module.html") Get started
    .row
      %br
      %hr
    .row
      %h3.subheader Toezicht op welzijn op het werk
      .large-4.columsn
        %img.left(src="../images/vca_basic_security_badge.png" width="126" height="126")
      .large-8.columns
        %p De basis met betrekking tot wetgeving, gezondheid en milieu
        %a.small.button.success.right(href="#") Get started
    .row
      %br
      %hr
    .row
      %h3.subheader Inspectieprocedures
      .large-4.columsn
        %img.left(src="../images/document-types.png" width="126" height="126")
      .large-8.columns
        %p De basis met betrekking tot wetgeving, gezondheid en milieu
        %a.small.button.success.right(href="#") Get started
    .row
      %br
      %hr
    .row
      %h3.subheader Organisatie van Veiligheid Bescherming en Bescherming
      .large-4.columsn
        %img.left(src="../images/installation.png" width="126" height="126")
      .large-8.columns
        %p De basis met betrekking tot wetgeving, gezondheid en milieu
        %a.small.button.success.right(href="#") Get started
    .row
      %br
      %hr
    .row
      %h3.subheader De arbeidsinspectie
      .large-4.columsn
        %img.left(src="../images/stylesheets.png" width="126" height="126")
      .large-8.columns
        %p De basis met betrekking tot wetgeving, gezondheid en milieu
        %a.small.button.success.right(href="#") Get started
    .row
      %br
      %hr
    .row
      %h3.subheader Samenwerking tussen werkgever, opdrachtgever en onderaannemer
      .large-4.columsn
        %img.left(src="../images/templating.png" width="126" height="126")
      .large-8.columns
        %p De basis met betrekking tot wetgeving, gezondheid en milieu
