.row
  %ul.breadcrumbs
    %li
      %a(href="index.html") Home
    %li
      %a(href="course.html")= @chapter.course.title 
    %li.current= @chapter.title 
.row
  .large-12.columns
    %h1.subheader= @chapter.title 
.row
  .large-8.columns
    .flex-video
      %iframe(width="420" height="315" src="http://www.youtube.com/embed/0_EW8aNgKlA" frameborder="0" allowfullscreen)
    %h3 Introduction
    %p In this video you will get an introduction to VCA Basic Security
    %table.large-12.columns
      %tr
        %td
          %i.foundiconsoc-youtube
        %td Introduction
        %td 2mins - 24secs
        %td
          %i.foundicongen-checkmark
      %tr
        %td
          %i.foundiconsoc-youtube
        %td Basic Security
        %td 5mins - 39secs
        %td
          %i.foundicongen-checkmark
      %tr
        %td
          %i.foundiconsoc-youtube
        %td VCA law enforcment
        %td 6mins - 23secs
        %td 
          %i.foundicongen-checkmark
      %tr
        %td
          %i.foundiconsoc-youtube
        %td Hazards and risk prevention
        %td 3mins - 24secs
        %td
          %i.foundicongen-checkmark
      %tr
        %td
          %i.foundiconsoc-youtube
        %td The safe workplace
        %td 4mins - 24secs
        %td
          %i.foundicongen-checkmark
      %tr
        %td
          &nbsp;
        %td
          %a(href="quiz.html" class="small button") Take the quiz
        %td
          &nbsp;
        %td
          &nbsp;
  .large-4.columns
    %aside
      .panel
        %img(src="../images/templating.png")
        %h4 Wetgeving, Gezondheid en Milieu
        %p
          %strong
            Total Time: 00:21:37
          %br
          This module covers basic HSE concepts</p>
