.row
  %ul.breadcrumbs
    %li
      %a(href="#") Home
    %li.current
      %a(href="courses.html") Courses
.row
  %h3 Courses
  .large-9.columns
    %table.large-12.columns
      %tr>
        %td Id
        %td Course Title
      - @courses.each do |course|
        %tr
          %td= course.id
          %td= link_to course.title, admin_course_path(course.id)
  .large-3.columns
    = link_to "Add Course", new_admin_course_path, class: "button success radius"

